.button {
  width: 100%;

  padding: 10px 20px;

  border: 2px solid #000;
  background-color: #3b383b;

  font-size: 18px;
  color: #fff;

  cursor: pointer;

  transition: background-color 0.5s ease,
  color 0.5s ease;

  &:hover {
    color: #9B9B9B;

    background-color: #000;
  }
}
