body {
  display: flex;
  flex-direction: column;
}

.header {
  overflow: hidden;

  padding: 33px 0;

  background-color: #3b383b;
  border-bottom: 2px solid #000;

  &__menu {
    display: inline-block;

    margin-left: 30px;

    font-size: 18px;
    color: #fff;

    cursor: pointer;

    transition: color 0.5s ease;

    &:hover {
      color: #9B9B9B;
    }
  }
}
