.sidebar {
  display: flex;
  flex-shrink: 0;

  width: 318px;
  height: 100%;

  border-right: 2px solid #000;

  @include breakpoint-tablet {
    //display: none;
  }
  @include breakpoint-mobile {
    position: absolute;
    top: 0;
    left: 0;

    max-width: 318px;
    width: 100%;

    z-index: 1;
  }

  &__content {
    height: 100%;
    width: 100%;

    background-color: #3b383b;

    text-align: left;
  }
  &__title {
    padding: 20px 10px;

    color: #fff;
    font-size: 20px;
  }
  &__form {
    display: flex;
    flex-direction: row;
  }
  &__list {}
  &.hide {
    display: none;
  }
}
