* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: #fff;
}
body {
  font: 300 13px/1.6 $default-font-family;
  color: #444;

  transition: all .4s .3s ease-in;
}
body,
html {
  min-height: 100vh;
  height: auto;
}
