$default-font-family: sans-serif;
$extraLargeWidth: 1461px;
$largeWidth: 1179px;
$mediumWidth: 959px;
$smallWidth: 599px;
$extraSmallWidth: 319px;
$largeContainer: $largeWidth + 1px;
$mediumContainer: $mediumWidth + 1px;

$grey: #2d3b48;
$blue: #02b3e4;
$red: #FF5757;
$lightGrey: #7c97ae;
