* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

html,
body {
  height: 100%;
  line-height: 1; }

a:focus {
  outline: none;
  box-shadow: 0 0 0; }

a {
  color: #000;
  text-decoration: none; }

ul, ol {
  list-style: none; }

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0; }

address {
  font-style: normal; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background: #fff; }

body {
  font: 300 13px/1.6 sans-serif;
  color: #444;
  transition: all .4s .3s ease-in; }

body,
html {
  min-height: 100vh;
  height: auto; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

.button {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #000;
  background-color: #3b383b;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease; }
  .button:hover {
    color: #9B9B9B;
    background-color: #000; }

.form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }
  .form__input-container {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%; }
  .form__button-container {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.header {
  overflow: hidden;
  padding: 33px 0;
  background-color: #3b383b;
  border-bottom: 2px solid #000; }
  .header__menu {
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: color 0.5s ease; }
    .header__menu:hover {
      color: #9B9B9B; }

.input {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  color: #000; }

.list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .list__item {
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; }
    .list__item:hover {
      color: #9B9B9B;
      background-color: #000; }

.main {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.map {
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100%; }

.sidebar {
  border-right: 2px solid #000; }
  .sidebar__content {
    width: 340px;
    height: 100%;
    background-color: #3b383b;
    text-align: left; }
  .sidebar__title {
    padding: 20px 10px;
    color: #fff;
    font-size: 20px; }
  .sidebar__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  min-height: 100%;
  height: 100%; }
